@section PageTitle {
    @Resource.stat
}
@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="statistics",cont="OpenData"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US",view="statistics" ,cont="OpenData"} )">
        <i class="fa fa-globe"></i> En
    </a>
}
@{

    var url = Request.Url.ToString();
}
@using ROP_WEB.Res


<div class="container">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../home/index">@Resource.home</a></li>
                    <li class="breadcrumb-item">@Resource.opendata</li>

                    <li class="breadcrumb-item active">@Resource.stat  </li>
                    <li class="readspeakercls">
                        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="margin-bottom:0;">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="@Resource.listen2" href="https://app-as.readspeaker.com/cgi-bin/rsent?customerid=5953&amp;lang=@Resource.listen3lang&amp;readid=item1&amp;url=@url">
                                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>@Resource.listen</span></span></span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                    </li>


                </ol>
            </nav>
        </div>
    </div>



    <div class="container">

        <div class="row">


            <div class="col-md-8">

                <div class="jumbotron" style="padding:25px; padding-bottom:0;">
                    <h3>  @Resource.stat </h3>



                    <div class="row">


                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                <a href="https://www.ncsi.gov.om/Pages/IndicatorDetails.aspx?ItemID=I%2fO8yiy831hzYkZviFdfPw%3d%3d" target="_blank">  @Resource.Roadacc </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                <a href="https://www.ncsi.gov.om/Pages/IndicatorDetails.aspx?ItemID=xWPuF3bZujWYx0XK9qcUkQ%3d%3d" target="_blank">      @Resource.deathratecar</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                <a href="http://data.gov.om/gdbmhlb/%D8%A7%D9%84%D8%AC%D8%B1%D9%8A%D9%85%D8%A9?regions=1000720&indicators=1000010&nationality=1000000&gender=1000020&age-group=1000000&types-of-crimes=1000000&lang=ar" target="_blank"> @Resource.crimestat</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                <a href="http://data.gov.om/OMPOP2016/%D8%A7%D9%84%D8%B3%D9%83%D8%A7%D9%86?region=1000010&indicator=1000030&nationality=1000000&sex=1000020&age-group=1000000&lang=ar" target="_blank"> @Resource.deathrategender</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                <a href="http://data.gov.om/gdbmhlb/the-crime?regions=1000000&indicators=1000000&nationality=1000000&gender=1000000&age-group=1000000&types-of-crimes=1000210"> @Resource.deathratestate</a>
                            </div>
                        </div>




                    </div>



                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                 

                    <li class="list-group-item"> <a href="../../../OpenData/Roplaws">@Resource.laws  </a></li>
                    <li class="list-group-item "><a href="../../../OpenData/TrafficFines">@Resource.trafficfinespoint </a></li>
                    <li class="list-group-item activelist"><a href="../../../OpenData/Statistics">@Resource.stat </a></li>
                    <li class="list-group-item"><a href="../../../OpenData/Saftytips">@Resource.dlil </a></li>


                </ul>

            </div>



        </div>
    </div>
</div>
