@section PageTitle {
    @Resource.md8event
}

@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="Events",cont="Media"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US",view="Events",cont="Media"} )">
        <i class="fa fa-globe"></i> En
    </a>
}
@using ROP_WEB.Res


<div class="container TopicStyle">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../home/index">@Resource.home</a></li>
                    <li class="breadcrumb-item"><a href="#">@Resource.media</a></li>
                    <li class="breadcrumb-item active">@Resource.md8event  </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container topiccontiner">

        <div class="row">

            <div class="col-md-4 d-none d-sm-block">
                <ul class="list-group">
                    <li class="list-group-item"> <a href="#">@Resource.md1  </a></li>
                    <li class="list-group-item"><a href="#">@Resource.md2 </a></li>

                    <li class="list-group-item"><a href="#">@Resource.md4</a></li>
                    <li class="list-group-item"><a href="#">@Resource.md5</a></li>
                    <li class="list-group-item"><a href="#">@Resource.md6</a></li>
                    <li class="list-group-item"><a href="#">@Resource.md7</a></li>
                    <li class="list-group-item activelist"><a href="#">@Resource.md8event</a></li>


                </ul>

            </div>
            <div class="col-md-8">
                <h3 style="text-align:center; padding:10px;">  @Resource.md8event </h3>
                <div style="padding:10px; padding-bottom:0;">
                    <div class="page">
                        <h3>عنوان الحدث</h3>
                        <div class="details">
                            <ul>

                                <li> تاريخ بدء  الفعالية : April 18, 2017 </li>

                            </ul>
                        </div>
                        <div class="content">
                            <p>
                                السلطنة تستضيف اجتماع أصحاب المعالي والسعادة وكلاء وزارات الداخلية

                            </p>
                        </div>
                        <h4><a href="read-more"> تفــاصيل الفعالية</a></h4>
                    </div>
                    <div class="page">
                        <h3>عنوان الحدث</h3>
                        <div class="details">
                            <ul>

                                <li> تاريخ بدء  الفعالية : April 18, 2017 </li>

                            </ul>
                        </div>
                        <div class="content">
                            <p>
                                السلطنة تستضيف اجتماع أصحاب المعالي والسعادة وكلاء وزارات الداخلية

                            </p>
                        </div>
                        <h4><a href="read-more"> تفــاصيل الفعالية</a></h4>
                    </div>

                </div>

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link activelist" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>


        </div>
    </div>



</div>


