
@section PageTitle {
    @Resource.md3
}
@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="PhotosAlbum",cont="Media"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US",view="PhotosAlbum",cont="Media" } )">
        <i class="fa fa-globe"></i> En
    </a>
}
@using ROP_WEB.Res

<script src="~/Content/plugins/gallery.js"></script>
<link href="~/Content/plugins/gallery.css" rel="stylesheet" />
<div class="container TopicStyle">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../home/index">@Resource.home</a></li>
                    <li class="breadcrumb-item">@Resource.media</li>
                    <li class="breadcrumb-item active">@Resource.md3  </li>
                    <li class="readspeakercls">
                        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="margin-bottom:0;">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="@Resource.listen2" href="https://app-as.readspeaker.com/cgi-bin/rsent?customerid=5953&amp;lang=@Resource.listen3lang&amp;readid=item1&amp;url=www%2Erop%2Egov%2Eom%2Farabic%2Fe-readiness%2Ehtml">
                                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>@Resource.listen</span></span></span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container topiccontiner">

        <div class="row">

            <div class="col-md-4 d-none d-sm-block">
                <ul class="list-group">
                    <li class="list-group-item activelist"> <a href="#">@Resource.md3  </a></li>
                    <li class="list-group-item "><a href="#">@Resource.md1 </a></li>
                    <li class="list-group-item"><a href="#">@Resource.md4</a></li>
                    <li class="list-group-item"><a href="#">@Resource.md6</a></li>
                    <li class="list-group-item"><a href="#">@Resource.md7</a></li>

                </ul>

            </div>
            <div class="col-md-8">

                <div class="jumbotron" style="padding:25px; padding-bottom:0;">
                    <h3>  @Resource.md3 </h3>
                    @*<div class="dropdownlist">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                إختر تصنيف الصورة
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">الإدارة العامة للمرور</a>
                <a class="dropdown-item" href="#">إدارة طيران الشرطة</a>
                <a class="dropdown-item" href="#">الإدارة العامة لتقنية المعلومات</a>

            </div>
        </div>*@

                    <div class="form-group">
                        <label for="sel1"> @Resource.photoselect</label>
                        <select class="form-control" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>

                    <div class="container p-3">

                        <div class="fg-gallery">

                            <img src="~/Content/images/home_slider_1.jpg" />
                            <img src="~/Content/images/home_slider_1.jpg" />
                            <img src="~/Content/images/home_slider_1.jpg" />
                            <img src="~/Content/images/home_slider_1.jpg" />

                            <img src="~/Content/images/index.png" />
                            <img src="~/Content/images/index.png" />
                            <img src="~/Content/images/index.png" />
                            <img src="~/Content/images/index.png" />



                        </div>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link activelist" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>

                        @*<div class="fg-gallery ns">
                <img src="~/Content/images/home_slider_1.jpg" />

                <img src="~/Content/images/index.png" />
                <img src="~/Content/images/home_slider_1.jpg" />

                <img src="~/Content/images/index.png" />
                <img src="~/Content/images/home_slider_1.jpg" />

                <img src="~/Content/images/index.png" />
            </div>*@

                    </div>



                </div>
            </div>



        </div>
    </div>
</div>


<script>
    var a = new FgGallery('.fg-gallery', {
        cols: 4,
        style: {
            border: '10px solid #fff',
            height: '180px',
            borderRadius: '5px',
            boxShadow: '0 2px 10px -5px #858585',
        }
    })

    var a = new FgGallery('.ns', {
        cols: 3,
        style: {
            border: '0 solid #fff',
            height: '240px',
            borderRadius: '5px',
        }
    })
</script>