<link rel="stylesheet" href="~/Assets/css/fonts/serviceChannels/style.css">
@model ROP_WEB.Models.SERVICE

@section PageTitle {
    @Model.Service_Name_Ar
}
@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="ServicesDetails/"+Model.SERVICE_CAT.Service_Cat_Name_En+"/"+Model.Service_Id ,cont="Services"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US", view="ServicesDetails/"+Model.SERVICE_CAT.Service_Cat_Name_En +"/"+Model.Service_Id,cont="Services"} )">
        <i class="fa fa-globe"></i> En
    </a>
}
@{

    var url = Request.Url.ToString();
}

@using ROP_WEB.Res
@using System.Threading;

<div class="container">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../home/index">@Resource.home</a></li>
                    <li class="breadcrumb-item">@Resource.services</li>



                    @if (Thread.CurrentThread.CurrentUICulture.IetfLanguageTag.ToString().Contains("ar"))
                    {
                        <li class="breadcrumb-item"><a href="../../../Services/@Model.SERVICE_CAT.Service_Cat_Name_En.Replace(" ", "")">@Model.SERVICE_CAT.Service_Cat_Name_Ar</a></li>
                        <li class="breadcrumb-item active">@Model.Service_Name_Ar</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item"><a href="../../../Services/@Model.SERVICE_CAT.Service_Cat_Name_En.Replace(" ", "")">@Model.SERVICE_CAT.Service_Cat_Name_En</a></li>
                        <li class="breadcrumb-item active">@Model.Service_Name_En</li>

                    }
                    <li class="readspeakercls">
                        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="margin-bottom:0;">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="@Resource.listen2" href="https://app-as.readspeaker.com/cgi-bin/rsent?customerid=5953&amp;lang=@Resource.listen3lang&amp;readid=item1&amp;url=@url">
                                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>@Resource.listen</span></span></span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container topiccontiner">

        <div class="row">


            <div class="col-md-8">

                <div class="jumbotron" style="padding:25px; padding-bottom:0;">
                    @if (Thread.CurrentThread.CurrentUICulture.IetfLanguageTag.ToString().Contains("ar"))
                    {
                        <h3> @Model.Service_Name_Ar</h3>

                        <p>@Html.Raw(@Model.Service_Desc_Ar)</p>
                    }
                    else
                    {
                        <h3> @Model.Service_Name_En</h3>

                        <p>@Html.Raw(@Model.Service_Desc_En)</p>
                    }

                    @if (Model.service_Url != null)
                    {

                        <div class="form-group" style="margin-left: auto;margin-right: auto;width:200px;">
                            <button class="btn btn-primary btn-block"> @Resource.accessserv  </button>
                        </div>
                    }

                    <div class="accordion" id="accordion12">

                        <div class="card card-default">
                            <div class="card-header" id="collapse12HeadingOne">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse12One" aria-expanded="true" aria-controls="collapse12One">
                                        @Resource.servterm
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12One" class="collapse show" aria-labelledby="collapse12HeadingOne" data-parent="#accordion12">
                                <div class="card-body">
                                    @if (Thread.CurrentThread.CurrentUICulture.IetfLanguageTag.ToString().Contains("ar"))
                                    {
                                        @Html.Raw(@Model.Service_Terms_Ar)
                                    }
                                    else
                                    {
                                        @Html.Raw(@Model.Service_Terms_En)
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="card card-default">
                            <div class="card-header" id="collapse12HeadingTwo">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse12Two" aria-expanded="false" aria-controls="collapse12Two">
                                        @Resource.servprocedure
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12Two" class="collapse" aria-labelledby="collapse12HeadingTwo" data-parent="#accordion12">
                                <div class="card-body">
                                    @if (Thread.CurrentThread.CurrentUICulture.IetfLanguageTag.ToString().Contains("ar"))
                                    {
                                        @Html.Raw(@Model.Service_procedure_Ar)
                                    }
                                    else
                                    {
                                        @Html.Raw(@Model.Service_procedure_En)
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="card card-default">
                            <div class="card-header" id="collapse12HeadingThree">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse12Three" aria-expanded="false" aria-controls="collapse12Three">
                                        @Resource.servreqdoc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12Three" class="collapse" aria-labelledby="collapse12HeadingThree" data-parent="#accordion12">
                                <div class="card-body">
                                    @if (Thread.CurrentThread.CurrentUICulture.IetfLanguageTag.ToString().Contains("ar"))
                                    {
                                        @Html.Raw(@Model.Service_Req_Doc_Ar)
                                    }
                                    else
                                    {
                                        @Html.Raw(@Model.Service_Req_Doc_En)
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="card card-default">
                            <div class="card-header" id="collapse12HeadingFour">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse12Four" aria-expanded="false" aria-controls="collapse12Four">
                                        @Resource.servfees
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12Four" class="collapse" aria-labelledby="collapse12HeadingFour" data-parent="#accordion12">
                                <div class="card-body">
                                    @if (Thread.CurrentThread.CurrentUICulture.IetfLanguageTag.ToString().Contains("ar"))
                                    {
                                        @Html.Raw(@Model.Service_Fees_Ar)
                                    }
                                    else
                                    {
                                        @Html.Raw(@Model.Service_Fees_En)
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="card card-default">
                            <div class="card-header" id="collapse12HeadingFive">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse12Five" aria-expanded="false" aria-controls="collapse12Five">
                                        @Resource.servchannel
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12Five" class="collapse" aria-labelledby="collapse12HeadingFive" data-parent="#accordion12">
                                <div class="card-body">
                                    @if (Thread.CurrentThread.CurrentUICulture.IetfLanguageTag.ToString().Contains("ar"))
                                    {

                                        <table class="table table-bordered table-hover table-responsive-lg">
                                            <thead>

                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        أسم القناة
                                                    </th>
                                                    <th>  التفاصيل</th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.CHANNEL_SERVICES)

                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @if (item.CHANNEL.Channel_Id == 1)
                                                            {
                                                                <span style="font-size:30px" class="icon-sms text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 2)
                                                            {
                                                                <span style="font-size:30px" class="icon-smartphone text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 3)
                                                            {
                                                                <span style="font-size:30px" class="icon-servicebuilding text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 5)
                                                            {
                                                                <span style="font-size:30px" class="icon-web text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 1003)
                                                            {
                                                                <span style="font-size:30px" class="icon-kisok text-color-primary"></span>
                                                            }


                                                        </td>
                                                        <td>@item.CHANNEL.Channel_Name_Ar</td>
                                                        @if (item.CHANNEL.Channel_Id == 5)
                                                        {
                                                            <td><a href="@Model.service_Url">دخول الخدمة</a></td>
                                                        }
                                                        else
                                                        {
                                                            <td><a href="@item.CHANNEL.channel_url">مشاهدة التفاصيل</a></td>
                                                        }
                                                    </tr>
                                                </tbody>


                                            }

                                        </table>


                                    }
                                    else
                                    {
                                        <table class="table table-bordered table-hover table-responsive-lg table-striped" >
                                            <thead>

                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Channel Name
                                                    </th>
                                                    <th>  Details</th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.CHANNEL_SERVICES)

                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>

                                                            @if (item.CHANNEL.Channel_Id == 1)
                                                            {
                                                                <span style="font-size:30px" class="icon-sms text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 2)
                                                            {
                                                                <span style="font-size:30px" class="icon-smartphone text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 3)
                                                            {
                                                                <span style="font-size:30px" class="icon-servicebuilding text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 5)
                                                            {
                                                                <span style="font-size:30px" class="icon-web text-color-primary"></span>
                                                            }
                                                            else if (item.CHANNEL.Channel_Id == 1003)
                                                            {
                                                                <span style="font-size:30px" class="icon-kisok text-color-primary"></span>
                                                            }

                                                        </td>
                                                        <td>@item.CHANNEL.Channel_Name_En</td>
                                                        @if (item.CHANNEL.Channel_Id == 5)
                                                        {
                                                            <td><a href="@Model.service_Url">Enter Service</a></td>
                                                        }
                                                        else
                                                        {
                                                            <td><a href="@item.CHANNEL.channel_url">See Details</a></td>
                                                        }
                                                    </tr>
                                                </tbody>


                                            }

                                        </table>

                                    }
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item"> <a href="../../../services/PersonalServices">@Resource.personalserv  </a></li>
                    <li class="list-group-item"><a href="../../../services/CompaniesServices">@Resource.puplicserv </a></li>
                    <li class="list-group-item"><a href="../../../services/GovServices">@Resource.companyserv </a></li>

                </ul>

            </div>
        </div>



    </div>
</div>

