
@section PageTitle {
    @Resource.about1
}

@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="GeneralInfo",cont="AboutROP"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US",view="GeneralInfo",cont="AboutROP" } )">
        <i class="fa fa-globe"></i> En
    </a>
}
@using ROP_WEB.Res


<div class="container TopicStyle">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="../../home/index">@Resource.home</a></li>

                    <li class="breadcrumb-item">@Resource.about</li>
                    <li class="breadcrumb-item active">@Resource.about1  </li>
                    <li class="readspeakercls">
                        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="margin-bottom:0;">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="@Resource.listen2" href="https://app-as.readspeaker.com/cgi-bin/rsent?customerid=5953&amp;lang=@Resource.listen3lang&amp;readid=item1&amp;url=www%2Erop%2Egov%2Eom%2Farabic%2Fe-readiness%2Ehtml">
                                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>@Resource.listen</span></span></span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container topiccontiner">

        <div class="row">

            <div class="col-md-4 d-none d-sm-block">
                <ul class="list-group">
                    <li class="list-group-item activelist"> <a href="#">@Resource.about1  </a></li>
                    <li class="list-group-item"> <a href="#">@Resource.v_m  </a></li>
                    <li class="list-group-item "><a href="#">@Resource.about2 </a></li>
                    <li class="list-group-item "><a href="#">@Resource.achivment </a></li>


                </ul>

            </div>
            <div class="col-md-8">

                <div class="jumbotron">
                    <h3>  @Resource.about1 </h3>



                    <p>

                        شرطة عمان السلطانية واحدة من أكبر المؤسسات الحكومية في السلطنة تعمل لضمان أن تكون السلطنة مكانا آمنا للعيش والعمل والزيارة وتقدم خدمات كاملة ذات قيم أساسية نابعة من فلسفة تقديم الخدمات وفق أعلى معايير الاحتراف والنزاهة والشخصية والخدمة السريعة والشراكة المجتمعية والانضباط والموضوعية والصدق والتدريب والتفاني.
                        فمنذ تأسيسها في ستينيات القرن الماضي ومع بداية النهضة في عام 1970 أنيط بالشرطة العديد من الواجبات والمهام والتي حددها قانون الشرطة بالمادة 11 (تختص شرطة عمان السلطانية بالمحافظة على النظام والأمن العام والآداب وحماية الأرواح والأموال والأعراض، وكفالة الطمأنينة والسكنية في كافة المجالات، والعمل على منع ارتكاب الجرائم، وضبط ما يقع منها، واتخاذ إجراءات التحري وجمع الاستدلالات. كما تتولى أية صلاحيات أخرى تنص عليها القوانين والمراسيم النافذة، وكل ما تفرضه عليها القوانين واللوائح من واجبات أخرى).

                    </p>
                    <p>
                        وتقدم شرطة عمان السلطانية كذلك العديد من الخدمات وتشمل:

                    </p>

                    <ul class="txtul">
                        <li> إصدار البطاقات الشخصية وبطاقات المقيمين</li>
                        <li>إصدار شهادات الميلاد والوفاة</li>
                        <li>الجوازات والإقامة</li>
                        <li>التأشيرات</li>
                        <li>خدمات المرور</li>
                        <li>التحريات والتحقيقات الجنائية</li>
                        <li>الجمارك</li>

                    </ul>

                    <p>

                        في احتفال تسليم الشرطة رايتها الخاصة بتاريخ 4 نوفمبر 1974م أعلن جلالة السلطان قابوس بن سعيد القائد الأعلى بأن الشرطة ستعرف منذ ذلك اليوم باسم (شرطة عمان السلطانية)
                    </p>
                    <p>
                        أما مسمى (مفوض الشرطة) الذي كان يطلق على رئيسها طبقاً لقانون الشرطة القديم رقم 5/1973م فقد صدر قرار سلطاني بتاريخ 26 نوفمبر 1974 م قضى بتغييره إلى مسمى آخر هو (المفتش العام للشرطة والجمارك)
                    </p>
                    <p>
                        وتحتفل شرطة عمان السلطانية بيومها السنوي الذي يصادف الخامس من يناير من كل عام، يوم تفضل فيه حضرة صاحب الجلالة السلطان قابوس بن سعيد المعظم القائد الأعلى ـ حفظه الله ورعاه ـ وشمل برعايته السامية الكريمة افتتاح أكاديمية السلطان قابوس لعلوم الشرطة بولاية نزوى في عام 1980م.
                    </p>
                    <p>
                        كانت سلطنة عُمان في مقدمة دول المنطقة التي استعانت بالعنصر النسائي في شرطتها ، فقد وظفت في مطلع عام 1972م فتاتين لتفتيش النساء المسافرات جواً من مطار بيت الفلج ووظفت في العام نفسه عدداً آخر من الفتيات ألحق البعض منهن بإدارة التحقيقات الجنائية للتعامل مع الإناث في القضايا التي يكون بعض أطرافها أو شهودها من الإناث ، وألحق البعض الآخر منهن بإدارة السجون لنفس الغرض وفي عام 1974 م جُنّد أول فصيل من الشرطة النسائية يتألف من 17 فتاة ، تلقى تدريبه العسكري في ( مدرسة تدريب الشرطة ) أسوة بفصائل المستجدين الذكور ؛ ومع مرور الأعوام تزايد عدد عناصر الشرطة النسائية وارتقى البعض منها إلى رتب الضباط ·
                    </p>

                </div>


            </div>
        </div>



    </div>
</div>

