
@section PageTitle {
    @Resource.about2
}

@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="Organization",cont="AboutROP"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US",view="Organization",cont="AboutROP" } )">
        <i class="fa fa-globe"></i> En
    </a>
}

@section orgnization{

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        $("[data-toggle=popover]")
            .popover({ html: true })

        $('body').on('click', function (e) {
            //did not click a popover toggle or popover
            if ($(e.target).data('toggle') !== 'popover'
                && $(e.target).parents('.popover.in').length === 0) {
                $('[data-toggle="popover"]').popover('hide');
            }
        });
    </script>
}
@using ROP_WEB.Res


<div class="container TopicStyle">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="../../home/index">@Resource.home</a></li>
                    <li class="breadcrumb-item">@Resource.about</li>

                    <li class="breadcrumb-item active">@Resource.about2  </li>

                    <li class="readspeakercls">
                        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="margin-bottom:0;">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="@Resource.listen2" href="https://app-as.readspeaker.com/cgi-bin/rsent?customerid=5953&amp;lang=@Resource.listen3lang&amp;readid=item1&amp;url=www%2Erop%2Egov%2Eom%2Farabic%2Fe-readiness%2Ehtml">
                                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>@Resource.listen</span></span></span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container topiccontiner">

        <div class="row">

            <div class="col-md-4 d-none d-sm-block">
                <ul class="list-group">
                    <li class="list-group-item"> <a href="#">@Resource.about1  </a></li>
                    <li class="list-group-item"> <a href="#">@Resource.v_m  </a></li>
                    <li class="list-group-item activelist"><a href="#">@Resource.about2 </a></li>
                    <li class="list-group-item "><a href="#">@Resource.achivment </a></li>


                </ul>

            </div>
            <div class="col-md-8">

                <div class="jumbotron">
                    <h3>  @Resource.about2 </h3>

                    <div id="accordion" role="tablist" aria-multiselectable="true">





                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @Resource.RegionalPoliceHeadquarters
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">

                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                           @Resource.Muscat
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.Dhofar
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.Musandam
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.AlBatinah
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.AlBatinah1
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.ADakiliyah
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.ASharqiyah
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.ASharqiyahG
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.ADahirah
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.AlWusta
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            @Resource.AlBuraimi
                                        </div>
                                    </div>




                                </div>



                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        @Resource.GeneralDirectorate
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">



                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.HumanResources
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.Operations
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.InquiriesandCriminalInvestigations
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.PassportandResidences
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.Customs
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.Traffic
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.ProjectsandMaintenance
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.AirportSecurity
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.FinancialAffairs
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.logistic
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.InformationTechnology
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.CivilStatus
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.GeneralofPrisons
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.PoliceAviation
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.telcom
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.Transport
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.DevelopmentandScrutiny
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.CombattingDrugs
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.CivilDefense
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        @Resource.SpecializedDirectorates
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.PublicRelation
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.LegalAffairs
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.PoliceMusic
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.Communication
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.PoliceClubs
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.PoliceSportsAssociation
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.officerinst
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.NationalCommittee
                                            </div>
                                        </div>
                            




                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                        @Resource.PoliceSpecialized
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.Mounted
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.SpecialSecurity
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.JuvenilePolice
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.Ambulance
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                                @Resource.FinancialInquiries
                                            </div>
                                        </div>
                                       




                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>




                </div>


            </div>
        </div>



    </div>
</div>

