


@{

    var url = Request.Url.ToString();
}

@using ROP_WEB.Res

<style>

    .cse .gsc-control-cse, .gsc-control-cse {
        padding: 0;
    }

    .gsc-search-button-v2 {
        background-color: #004B8F;
    }

        .cse .gsc-search-button-v2:hover, .gsc-search-button-v2:hover {
            background-color: #004B8F;
            cursor: pointer;
        }
</style>
<div class="container">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../home/index">@Resource.home</a></li>

                    <li class="breadcrumb-item active">@Resource.search </li>
                    <li class="readspeakercls">
                        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="margin-bottom:0;">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="@Resource.listen2" href="https://app-as.readspeaker.com/cgi-bin/rsent?customerid=5953&amp;lang=@Resource.listen3lang&amp;readid=item1&amp;url=@url">
                                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>@Resource.listen</span></span></span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container">

        <div class="row">


            <div class="col-md-8">

                <div class="jumbotron" style="padding:25px; padding-bottom:0;">
                    <h3>  @Resource.search </h3>
                    <div class="container">

                        <script async src="https://cse.google.com/cse.js?cx=010640363325237699900:dtzqwqikqjq"></script>
                        <div class="gcse-search" style="padding:0"></div>


                    </div>


                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
          
                    <li class="list-group-item"><a href="../../../Home/Sitemap">@Resource.footer6 </a></li>
                    <li class="list-group-item activelist"> <a href="#">@Resource.search  </a></li>

                </ul>

            </div>



        </div>
    </div>
</div>
