
@section PageTitle {
    @Resource.faq
}

@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="FAQ",cont="Contact"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US",view="FAQ",cont="Contact" } )">
        <i class="fa fa-globe"></i> En
    </a>
}
@using ROP_WEB.Res

@model IEnumerable<ROP_WEB.Models.FAQMain>
        <div class="container TopicStyle">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../home/index">@Resource.home</a></li>
                    <li class="breadcrumb-item">@Resource.contact</li>

                    <li class="breadcrumb-item active">@Resource.faq  </li>
                    <li class="readspeakercls">
                        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="margin-bottom:0;">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="@Resource.listen2" href="https://app-as.readspeaker.com/cgi-bin/rsent?customerid=5953&amp;lang=@Resource.listen3lang&amp;readid=item1&amp;url=www%2Erop%2Egov%2Eom%2Farabic%2Fe-readiness%2Ehtml">
                                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>@Resource.listen</span></span></span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container topiccontiner">

        <div class="row">

            <div class="col-md-4 d-none d-sm-block">
                <ul class="list-group">
                    <li class="list-group-item"> <a href="#">@Resource.contact  </a></li>
                    <li class="list-group-item"><a href="#">@Resource.ropphones </a></li>
                    <li class="list-group-item"><a href="#">@Resource.worktime </a></li>
                    <li class="list-group-item activelist"><a href="#">@Resource.faq </a></li>
                    <li class="list-group-item"><a href="#">@Resource.survey </a></li>


                </ul>

            </div>
            <div class="col-md-8">

                <div class="jumbotron">
                    <h3>@Resource.faq </h3>
                

                    <div id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (var item in Model)
  {
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#@item.FAQID" aria-expanded="true" aria-controls="collapseOne">
                    @item.Question
                </a>
            </h5>
        </div>

        <div id="@item.FAQID" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <p>


@item.Answer        
                        </p>
            </div>
        </div>
    </div>

}


                    </div>

                    


                </div>


            </div>
        </div>



    </div>
</div>

